body {
    background-color: rgb(39, 37, 37);
}

.title-div{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.title-div span {
    color: rgb(202, 202, 202);
    font-size: 300%;
}

.download{
    background-color: rgb(119, 119, 119);
    border: solid 2px rgb(201, 201, 201);
    border-radius: 10px;
    margin-top: 20px;
    padding: 25px;
}

.download h1 {
    margin: 0;
    margin-bottom: 18px;
    color: rgb(22, 22, 22);
    font-size: 230%;
}

.download ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.download li {
    margin-top: 30px;
}

.download-button {
    background-color: rgb(51, 51, 51);
    border: solid 2px rgb(51, 51, 51);
    border-radius: 15px;
    font-size: 150%;
    padding: 10px;
    text-decoration: none;
    color: #8094af;
    transition: color 0.5s, border-color 0.5s;
}

.download-button:hover{
    color: rgb(200, 200, 200);
    border-color: rgb(200, 200, 200);
}

.download span {
    margin-left: 5px;
    font-size: 155%;
    color: rgb(201, 201, 201);
}