#header {
    display: flex;
    align-items: center;
    background-color: rgb(34, 34, 34);
    height: 80px;
    border-radius: 10px;
    margin-bottom: 15px;
    top: 10px;
}

#pagelist {
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 3;
}

#pagelist li a {
    text-wrap: nowrap;
    font-size: 200%;
    color: rgb(199, 199, 199);

    text-decoration: none;
    background-image: linear-gradient(rgb(199, 199, 199), rgb(199, 199, 199));
    background-size: 0% 2px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s, color 0.5s;
}

#pagelist li a:hover {
    color: rgb(235, 235, 235);
    background-size: 100% 2px;
}

#dropdown-div {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

#menu-img {
    margin-top: 10px;
    margin-right: 5px;
    width: 60px;    
    align-self: flex-end;
}

#dropdown-content {
    border-radius: 4px;
    display: none;
    background-color: rgb(34, 34, 34);
    border: solid 2px rgb(199, 199, 199);
    overflow: hidden;
}

#menu-img:hover + #dropdown-content {
    display: block;
}

#dropdown-content:hover {
    display: block;
}

#dropdown-content a {
    height: 38px;
    display: block;
    text-align: right;
    color: white;
    text-decoration: none;
    font-size: 150%;
    flex-grow: 1;
    padding-top: 12px;
    padding-right: 10px;
    padding-left: 10px;
    flex-grow: 1;
}

#dropdown-content a:hover {
    background-color: rgb(53, 53, 53);
}

#logo {
    margin-left: 15px;
    color: rgb(199, 199, 199);
    font-size: 180%;
    font-weight: 500;
    text-wrap: nowrap;
    flex-grow: 1;
}

#secret-hamburger-button#secret-hamburger-button {
    color: red;
}