#header {
    display: flex;
    align-items: center;
    background-color: rgb(34, 34, 34);
    height: 80px;
    border-radius: 10px;
    outline: solid rgba(255, 215, 0, 0.75) 1px;
}

#pagelist {
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

#pagelist li a {
    text-wrap: nowrap;
    font-size: 250%;
    color: rgb(199, 199, 199);

    text-decoration: none;
    background-image: linear-gradient(rgb(199, 199, 199), rgb(199, 199, 199));
    background-size: 0% 2px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s, color 0.5s;
}

#pagelist li a:hover {
    color: rgb(235, 235, 235);
    background-size: 100% 2px;
}

#logo {
    margin-left: 15px;
    color: rgb(199, 199, 199);
    font-size: 180%;
    font-weight: 500;
    text-wrap: nowrap;
    flex-grow: 0;
}