body {
    background-image: url("website5.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: grey;
}

#content {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #12151a;
    border-radius: 12px;
    flex-direction: column;
    justify-content: space-evenly;
    width: 900px;
}

#box img {
    width: 80%;
    margin-top: 2%;
}

#bottom {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

#bottom a {
    color: #8094af;
    font-size: 160%;
    text-decoration: none;
    transition: color 0.32s;
}

#bottom a:hover {
    color: rgb(206, 201, 201);
    cursor: pointer;
}

#bottom li {
    margin: 4px 0px;
}

#bottom ul {
    padding: 0;
    list-style: none;
    flex: 0 0 30%
}

#bottom #leftlist {
    text-align: right;
}

#line {
    border: 5px solid #8094af;
    height: 80%;
    border-radius: 5px;
    margin: 1% 20% 0% 20%; 
}

.testbutton {
    width: 150px;
    height: 130px;
}

.swalpopup {
    height: 2000px;
    width: 3000px;
    font-size: 600%;
}

.swalbutton {
    height: 800px;
    width: 1500px;
    font-size: 600%;
}