body {
    background-image: url("website2.png");
    background-repeat: no-repeat;
}

html, body {
    height: 100%;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: #0c0e12;
    border-radius: 12px;
    flex-direction: column;
    justify-content: space-evenly;
}

#box img {
    width: 100%;
}

#bottom {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

#bottom li {
    text-decoration: none;
    color: #8094af;
    margin: 2px 0px;
}

#bottom ul {
    padding: 0;
    list-style: none;
}